module.exports = {
	CONSUMER_KEY:'',
	CONSUMER_SECRET:'',
	ACCES_TOKEN:'',
	ACCES_TOKEN_SECRET:'',
	MONGO_URL:'',
	NUM_OF_POSTS:5,
	MINS_BETWEEN_TWEETS:10,
	RETRY_MINS:2,
	GIF_SIZE:20,
	PIC_SIZE:5,
	subreddits:{
	    oddlysatisfying:this.NUM_OF_POSTS,
	    aww:this.NUM_OF_POSTS,
	    pics:this.NUM_OF_POSTS,
	    funny:this.NUM_OF_POSTS,
	    mildlyinteresting:this.NUM_OF_POSTS
	}
}